aiohttp==3.8.5 ; python_full_version == "3.10.6"
aiosignal==1.3.1 ; python_full_version == "3.10.6"
asgiref==3.7.2 ; python_full_version == "3.10.6"
async-timeout==4.0.3 ; python_full_version == "3.10.6"
attrs==23.1.0 ; python_full_version == "3.10.6"
beautifulsoup4==4.12.2 ; python_full_version == "3.10.6"
blinker==1.6.2 ; python_full_version == "3.10.6"
bs4==0.0.1 ; python_full_version == "3.10.6"
certifi==2023.7.22 ; python_full_version == "3.10.6"
charset-normalizer==3.2.0 ; python_full_version == "3.10.6"
click==8.1.6 ; python_full_version == "3.10.6"
colorama==0.4.6 ; python_full_version == "3.10.6" and platform_system == "Windows"
dataclasses-json==0.5.14 ; python_full_version == "3.10.6"
flask[async]==2.3.2 ; python_full_version == "3.10.6"
frozenlist==1.4.0 ; python_full_version == "3.10.6"
greenlet==2.0.2 ; python_full_version == "3.10.6" and (platform_machine == "win32" or platform_machine == "WIN32" or platform_machine == "AMD64" or platform_machine == "amd64" or platform_machine == "x86_64" or platform_machine == "ppc64le" or platform_machine == "aarch64")
gunicorn==21.2.0 ; python_full_version == "3.10.6"
idna==3.4 ; python_full_version == "3.10.6"
itsdangerous==2.1.2 ; python_full_version == "3.10.6"
jinja2==3.1.2 ; python_full_version == "3.10.6"
langchain-experimental==0.0.8 ; python_full_version == "3.10.6"
langchain==0.0.263 ; python_full_version == "3.10.6"
langdetect==1.0.9 ; python_full_version == "3.10.6"
langsmith==0.0.22 ; python_full_version == "3.10.6"
markupsafe==2.1.3 ; python_full_version == "3.10.6"
marshmallow==3.20.1 ; python_full_version == "3.10.6"
multidict==6.0.4 ; python_full_version == "3.10.6"
mypy-extensions==1.0.0 ; python_full_version == "3.10.6"
numexpr==2.8.5 ; python_full_version == "3.10.6"
numpy==1.25.2 ; python_full_version == "3.10.6"
openai==0.27.8 ; python_full_version == "3.10.6"
openapi-schema-pydantic==1.2.4 ; python_full_version == "3.10.6"
packaging==23.1 ; python_full_version == "3.10.6"
pandas==2.0.3 ; python_full_version == "3.10.6"
pydantic==1.10.12 ; python_full_version == "3.10.6"
python-dateutil==2.8.2 ; python_full_version == "3.10.6"
pytz==2023.3 ; python_full_version == "3.10.6"
pyyaml==6.0.1 ; python_full_version == "3.10.6"
requests==2.31.0 ; python_full_version == "3.10.6"
six==1.16.0 ; python_full_version == "3.10.6"
soupsieve==2.4.1 ; python_full_version == "3.10.6"
sqlalchemy==2.0.19 ; python_full_version == "3.10.6"
tenacity==8.2.2 ; python_full_version == "3.10.6"
tqdm==4.66.1 ; python_full_version == "3.10.6"
typing-extensions==4.7.1 ; python_full_version == "3.10.6"
typing-inspect==0.9.0 ; python_full_version == "3.10.6"
tzdata==2023.3 ; python_full_version == "3.10.6"
urllib3==2.0.4 ; python_full_version == "3.10.6"
validators==0.21.2 ; python_full_version == "3.10.6"
werkzeug==2.3.6 ; python_full_version == "3.10.6"
yarl==1.9.2 ; python_full_version == "3.10.6"
